# Main configuration file with list and options for all ESXi and VM instances
# format is very similar to INI with slight differences
#
# The entire configuration file consists of 3 sections: [defaults], [esxi_list], [vm_list]
#
# The [defaults] section sets default values that can be overridden for specific ESXi instances or virtual machines
# The remaining two sections specify the lists of ESXi instances and virtual machines on them and their parameters
# Note that virtual machines and ESXi instances names must not overlap
#
# For example:
#
# [defaults]
# vm_guest_type = "debian8_64"    # This is comment
# vm_netmask=255.255.255.255      # Values can also be specified without quotation marks
#
# [esxi_list]
# esxi1                                              # Defining a resource without parameters (will be taken from default values)
# esxi2     esxi_hostname="X.X.X.X"                  # All extra spaces are trimmed
# esxi3  esxi_hostname="X.X.X.X" \                   # Parameters can be set on the next line if the line ends with a '\'
#   esxi_ssh_password="password" esxi_ssh_port=5252  # Multiple options can be set on the same line
#
# [vm_list]
# vm1 at="esxi1" \                                   # 'at' parameter is required for virtual machine definition
#   local_iso_path="ubuntu-xenial-amd64-live-v1.iso" vm_ipv4_address="X.X.X.X" \
#     vm_ipv4_netmask="X.X.X.X" vm_ipv4_gateway="X.X.X.X"
#

###
### The following are real sections so that you can simply rename the .example file and use it right away
###

# A list with all available parameters and their default values
# (which will be used if not specified at all)
[defaults]
#esxi_hostname=""                  # REQUIRED
#esxi_ssh_password=""
#esxi_ssh_port=22
#esxi_ssh_username="root"
#local_hook_path=""
#local_iso_path=""                 # REQUIRED
#local_vmdk_path=""                # REQUIRED
#vm_autostart="no"
#vm_dns_servers="8.8.8.8 8.8.4.4"  # Separated by spaces
#vm_esxi_datastore="datastore1"
#vm_guest_type="debian8-64"
#vm_ipv4_address=""                # REQUIRED
#vm_ipv4_netmask="255.255.255.0"
#vm_ipv4_gateway=""                # REQUIRED
#vm_mac_address="auto"
#vm_memory_mb=1024
#vm_network_name="VM Network"
#vm_ssh_password=""
#vm_ssh_port=22
#vm_ssh_username="root"
#vm_timezone="Etc/UTC"
#vm_vcpus=1

[esxi_list]

[vm_list]
