[Unit]
Description=Unmount CDROM for future correct VM's shutdown
After=local-fs.target

[Service]
ExecStart=/bin/umount --lazy /cdrom
ExecStart=/usr/bin/eject --manualeject off /dev/cdrom
ExecStart=/usr/bin/eject /dev/cdrom
Type=oneshot

[Install]
WantedBy=sysinit.target
